@import '../constants';

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: $color-grey;
    font-family: $primary-font;
}

.social-media {
    &__list {
        list-style: none;
    }

    &__item {
        padding: 10px;
        width: 210px;
        position: absolute;
        right: -190px;
        transition-duration: 400ms;
        &:hover {
            right: 0;
        }

        &--blog {
            background-color: $blog-color;

            /*test*/ 
            top: 38px;
        }

        &--twitter {
            background-color: $twitter-color;

            /*test*/ 
            top: 76px;
        }

        &--linkedin {
            background-color: $linkedin-color;

            /*test*/ 
            top: 114px;
        }

        &--facebook {
            background-color: $facebook-color;

            /*test*/
            top: 152px;
        }

        &--github {
            background-color: $github-color;

            /*test*/ 
            top: 190px;
        }
    }

    &__icon {
        display: inline-block;
        font-style: normal;
        font-variant: normal;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        color: $color-white;

        &--blog::before {
            font-family: 'Font Awesome 5 Free';
            font-weight: 900;
            content: '\f5fc';
        }

        &--twitter::before {
            font-family: 'Font Awesome 5 Brands';
            content: '\f099';
        }

        &--linkedin::before {
            font-family: 'Font Awesome 5 Brands';
            content: '\f0e1';
        }
    
        &--facebook::before {
            font-family: 'Font Awesome 5 Brands';
            content: '\f39e';
        }
    
        &--github::before {
            font-family: 'Font Awesome 5 Brands';
            content: '\f09b';
        }
    }

    &__link {
        color: $color-white;
        margin-left: 25px;
    }
}
