// Variables
$primary-font: Arial, Helvetica, sans-serif;
$color-grey: #c3cfe2;
$color-purple: #686de0;
$color-white: #fff;
$shadow-color-grey: #757575;
$blog-color: #e17b77;
$facebook-color: #3b5998;
$twitter-color: #00aced;
$github-color: #333;
$linkedin-color: #007bb6;


//Mixins
@mixin absolute-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@mixin absolute-zero {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}